<html>
  <head>
  <title>Фотография {{photo}}</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body class='cont';>
    <h2>Фотография {{photo}}</h2>
    <div><A class="button15"; Href="./">Назад в альбом</A></div>
    <div class="full_photo"><img src="{{path_to_photo}}/{{photo}}"></div>

  </body>
</html>